## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
import requests
requests.__version__

'2.24.0'

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.39,77,92,13.69,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,-26.19,83,77,9.78,broken clouds
2,2,Avera,US,33.1940,-82.5271,30.20,92,1,4.61,haze
3,3,Mataura,NZ,-46.1927,168.8643,52.00,94,79,14.00,broken clouds
4,4,Dikson,RU,73.5069,80.5464,2.08,94,100,19.66,light snow

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.39,77,92,13.69,overcast clouds
5,5,Port Alfred,ZA,-33.5906,26.8910,70.00,88,8,1.01,clear sky
7,7,Port Elizabeth,ZA,-33.9180,25.5701,68.00,83,90,8.05,light rain
12,12,Waipawa,NZ,-41.4122,175.5153,62.60,82,75,19.57,broken clouds
13,13,Puerto Del Rosario,ES,28.5004,-13.8627,60.80,63,75,11.50,broken clouds
14,14,Libacao,PH,10.1825,122.9158,79.38,84,100,13.76,moderate rain
21,21,Busselton,AU,-33.6500,115.3333,72.00,60,0,7.00,clear sky
23,23,Cape Town,ZA,-33.9258,18.4232,73.00,52,20,21.85,few clouds
24,24,Hobart,AU,-42.8794,147.3294,64.99,68,75,14.97,broken clouds
30,30,Makakilo City,US,21.3469,-158.0858,73.40,78,20,4.81,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        359
City           359
Country        355
Lat            359
Lng            359
Max Temp       359
Humidity       359
Cloudiness     359
Wind Speed     359
Description    359
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_preferred_cities_df = preferred_cities_df.dropna(subset=["Country"])

len(cleaned_preferred_cities_df)

355

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.39,overcast clouds,-23.1203,-134.9692,
5,Port Alfred,ZA,70.00,clear sky,-33.5906,26.8910,
7,Port Elizabeth,ZA,68.00,light rain,-33.9180,25.5701,
12,Waipawa,NZ,62.60,broken clouds,-41.4122,175.5153,
13,Puerto Del Rosario,ES,60.80,broken clouds,28.5004,-13.8627,
14,Libacao,PH,79.38,moderate rain,10.1825,122.9158,
21,Busselton,AU,72.00,clear sky,-33.6500,115.3333,
23,Cape Town,ZA,73.00,few clouds,-33.9258,18.4232,
24,Hobart,AU,64.99,broken clouds,-42.8794,147.3294,
30,Makakilo City,US,73.40,few clouds,21.3469,-158.0858,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"



    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!=""]

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))